
body, html {
  height: 100%;
  margin: 0;
}

body {
  background: url('imagenes/suplementos-alimenticios-principal.jpg') no-repeat center center fixed; 
  background-size: cover; 
}

#app {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 0.5rem; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000dff; 
}

.product-card {
  background-color: #16d4de; 
  border: 1px solid #16d4de; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.totals {
  background-color: #f5f3bc; 
  padding: 10px; 
  border-radius: 0.5rem; 
  margin-top: 20px; 
  font-weight: bold; 
}

.btn-primary {
  background-color: #347124; 
  border-color: #f4eb4c; 
}

.btn-primary:hover {
  background-color: #0056b3; 
  border-color: #004085; 
}
.text-danger {
  color: #ff0000 !important; 
}


